h1{
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
p {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
}

body{
    text-align: center;
}

header{
    background-color: blue;
    border: 1px solid #999999;
    padding: 20px;
}

.navbar {
    background-color: #CCCC;
    border: 1px solid #999999;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    font: bold 14px verdana, sans-serif;
}

.logo img{
    width: 60px;
    height: auto;

}

.navbar a {
    text-decoration: none;
    color: black;
}

.productos{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.producto{
    width: 2200px;
    border: 2px solid blue;
    padding: 15px;
}

.imagen-prodcuto{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
}

.campo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.campo-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
}